<!DOCTYPE HTML>
<html>
    <head>
        <title>DRand wonderful website</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body class="is-preload">
        <div id="page-wrapper">

            <!-- Main -->
            <section id="main" class="container">
                <header>
                    <h2>DRand</h2>
                    <p>(experimental) Distributed Randomness Beacon Daemon</p>
                </header>
                <div class="row">
                    <div class="col-12">

                        <!-- Text -->
                        <section class="box">
                            <p>DRand is brought to you by Nicolas Gailly, Philipp Jovanovic and Mathilde Raynal. <br>
                            This website was built with DRandJS which enables the use of DRand's randomness in JavaScript-based application.
                            </p>

                            <hr />

                            <header>
                                <h3>Latest randomness</h3>
                                <div id="latest">
                                  <p> </p>
                                  <p> </p>
                                </div>

                                <div id="myProgress">
                                    <div id="myBar"></div>
                                </div>

                            <hr />
                            <h3>Randomness history</h3>
                                <div id="history">
                                </div>


                            <hr />

                            <h3>Running nodes</h3>
                            <blockquote>List of runing nodes click on one to contact it</blockquote>

                            <hr />
                            <h3>Partners</h3>
                            <div style=“text-align: center;”>
                                <a href="https://dedis.epfl.ch">
                                    <img src="../images/epfl.png" style="width:100px;height:100px;">
                                        </a>
                                <a href="https://www.cloudflare.com">
                                    <img src="../images/cloudflare.png" style="width:100px;height:100px;">
                                        </a>
                                <a href="https://www.nagra.com">
                                    <img src="../images/kudelski.jpg" style="width:100px;height:100px;">
                                        </a>
                                <a href="http://www.uchile.cl/english">
                                    <img src="../images/uoc.png" style="width:100px;height:100px;">
                                        </a>
                            </div>
                          </header>
                        </section>

                    </div>
                </div>


                <!-- Footer -->
                <footer id="footer">
                    <ul class="icons">
                        <li><a href="https://github.com/dedis/drand" class="icon fa-github"><span class="label">Github</span></a></li>
                        <li><a href="mailto:dedis@epfl.ch?subject=DRand" class="icon fa-envelope"><span class="label">Mail</span></a></li>
                    </ul>
                    <ul class="copyright">
                        <li>&copy; dedis</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </footer>

                </div>

        <!-- Scripts -->
        <script src="../js/kyberjs.min.js"></script>
        <script src="../js/helpers.js"></script>
        <script src="../js/drand.js"></script>
        <script src="../js/display.js"></script>
        <script>
        function wrap() {
          identity = {Address: "127.0.0.1:8000", TLS: false, Key: ""};
          display_randomness(identity);
        }
        wrap();
        window.setInterval(wrap,60000);
        </script>

    </body>
</html>
