#dist: trusty
sudo: required

services:
    - docker

language: go

go:
    - tip

env:
    - GO111MODULE=on

# https://arslan.io/2018/08/26/using-go-modules-with-vendor-support-on-travis-ci/
install: true

script:
    #- cd core && go test -v && cd ../ && cd beacon/ && go test -v && cd ../
    - go test -v -mod=vendor ./...
    - sudo env "PATH=$PATH" ./docker_test.sh

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
        sudo docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
        sudo docker push dedis/drand:latest;
    fi

before_deploy:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

before_install:
    - docker pull byrnedo/alpine-curl

# calls goreleaser
deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux
  #- provider: script
    #script: docker push dedis/drand:$TRAVIS_TAG
    #on:
        #tags: true
        #condition: $TRAVIS_OS_NAME = linux
