version: '3'
services:
  {% for node in hosts -%}
  {{ node['name'] }}:
    image: drandorg/go-drand:latest
    container_name: {{ node['name'] }}
    volumes:
    - {{ node['volume_name'] }}:/data
    environment:
      - DRAND_PUBLIC_ADDRESS={{ node['name'] }}:8080
    cap_add:
      - NET_ADMIN
    command: -c "tc qdisc add dev eth0 root netem delay {{node['latency']}} && /usr/local/bin/entrypoint.sh"
    expose:
      - 8888
      - 8080
          
  {% endfor %}
volumes:
  {% for node in hosts -%}
  {{ node['volume_name'] }}:
  {% endfor %}
