version: '3'

services:
  drand_0:
    container_name: drand_0
    image: docker.io/drandorg/go-drand:latest
    user: drand
    volumes:
      - ./data_0:/data/drand
    ports:
      - "0.0.0.0:5030:8080"
      - "0.0.0.0:5031:8081"
      - "0.0.0.0:5032:8888"
    entrypoint: /sbin/tini -- /usr/local/bin/entrypoint.sh
    command: start --verbose --control 8888 --private-listen 0.0.0.0:8080 --public-listen 0.0.0.0:8081 --tls-disable true
    environment:
      DRAND_PUBLIC_ADDRESS: "drand_0:8080"
      DRAND_SHARE_SECRET: "thisisthesecretweshouldsettorundkgprocessonthenodes"

  drand_1:
    container_name: drand_1
    image: docker.io/drandorg/go-drand:latest
    user: drand
    volumes:
      - ./data_1:/data/drand
    ports:
      - "0.0.0.0:5130:8180"
      - "0.0.0.0:5131:8181"
      - "0.0.0.0:5132:8888"
    entrypoint: /sbin/tini -- /usr/local/bin/entrypoint.sh
    command: start --verbose --control 8888 --private-listen 0.0.0.0:8180 --public-listen 0.0.0.0:8181 --tls-disable true
    environment:
      DRAND_PUBLIC_ADDRESS: "drand_1:8180"
      DRAND_SHARE_SECRET: "thisisthesecretweshouldsettorundkgprocessonthenodes"

  drand_2:
    container_name: drand_2
    image: docker.io/drandorg/go-drand:latest
    user: drand
    volumes:
      - ./data_2:/data/drand
    ports:
      - "0.0.0.0:5230:8280"
      - "0.0.0.0:5231:8281"
      - "0.0.0.0:5232:8888"
    entrypoint: /sbin/tini -- /usr/local/bin/entrypoint.sh
    command: start --verbose --control 8888 --private-listen 0.0.0.0:8280 --public-listen 0.0.0.0:8281 --tls-disable true
    environment:
      DRAND_PUBLIC_ADDRESS: "drand_2:8280"
      DRAND_SHARE_SECRET: "thisisthesecretweshouldsettorundkgprocessonthenodes"

  drand_3:
    container_name: drand_3
    image: docker.io/drandorg/go-drand:latest
    user: drand
    volumes:
      - ./data_3:/data/drand
    ports:
      - "0.0.0.0:5330:8380"
      - "0.0.0.0:5331:8381"
      - "0.0.0.0:5332:8888"
    entrypoint: /sbin/tini -- /usr/local/bin/entrypoint.sh
    command: start --verbose --control 8888 --private-listen 0.0.0.0:8380 --public-listen 0.0.0.0:8381 --tls-disable true
    environment:
      DRAND_PUBLIC_ADDRESS: "drand_3:8380"
      DRAND_SHARE_SECRET: "thisisthesecretweshouldsettorundkgprocessonthenodes"

