name: Build docker image

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build TLS
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false

      - name: Build non-TLS
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            gitCommit: ${{ github.sha }}
            buildTag: conn_insecure
