# Regenerates generated files and ensures PRs commit generated updates
name: Generate

on:
  pull_request:
    branches: [ master ]

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - uses: actions/cache@v2
      id: generate-dep-cache
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
    - uses: actions/setup-go@v2
      with:
        go-version: '1.19.2'
    - name: Fetch Dependencies
      run: go get ./...
    - name: Install Protoc
      uses: arduino/setup-protoc@v1.1.2
      with:
        version: '3.19.6'
    - name: Install Protoc-gen-go
      run: |
        go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.28.1
        go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.2.0
    - name: Generate
      run: go generate ./...&& go mod tidy
    - name: Check
      # git status --porcelain shows changed files.
      # the echoed output provides github action output format, per
      # https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjobs_idoutputs
      run: |
        protoc --version
        protoc-gen-go --version
        protoc-gen-go-grpc --version
        if [[ -z "$(git status --porcelain)" ]];
        then
          exit 0
        else
          OUTPUT=$(git status --porcelain)
          git diff
          for file in $OUTPUT
          do
            f=$(echo $file | sed -e 's/^.* //')
            echo "::error file=$f,line=1,col=1::File $f not in sync with ``go generate``"
          done
          OUTPUT="${OUTPUT//'%'/'%25'}"
          OUTPUT="${OUTPUT//$'\n'/'%0A'}"
          OUTPUT="${OUTPUT//$'\r'/'%0D'}"
          echo "::set-output name=result::$OUTPUT"
          exit 1
        fi
