name: Lint

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ci-${{ github.ref }}-lint
  cancel-in-progress: true

jobs:
  golangci:
    strategy:
      matrix:
        db_type: [ "boltdb", "memdb", "postgres" ]
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v6
      with:
        go-version: '1.25'
    - name: Checkout
      uses: actions/checkout@v5

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.7.2
        args: --build-tags ${{ matrix.db_type }} --timeout 5m

    - name: golangci-lint tests non-tls
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.7.2
        args: --build-tags conn_insecure --timeout 5m
