name: Lint

on:
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.17'
    - uses: actions/cache@v2
      id: lint-dep-cache
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
    - name: Fetch Dependencies
      run: go get ./...
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v2.3.0
      with:
        version: v1.41
        args: --timeout 5m
