name: Lint

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ci-${{ github.ref }}-lint
  cancel-in-progress: true

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      # since golangci-lint-action@v3 we need to run setup-go@v2 first
    - uses: actions/setup-go@v2
      with:
        go-version: '1.18'
    - name: Checkout
      uses: actions/checkout@v2
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.46
        args: --timeout 5m
