name: "Publish tagged image"

on:
  pull_request:
    branches: [ master ]
#on:
#  workflow_dispatch:
#  push:
#    tags:
#      - 'v*'
#  release:
#    types:
#      - created
#    tags:
#      - 'v*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: drand/go-drand

jobs:
  tagged-deploy:
    environment: dockerhub
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # pin@v3.3.0

      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # pin@v3.5.0
        with:
          go-version: '1.19.5'

      - uses: actions/cache@58c146cc91c5b9e778e71775dfe9bf1442ad9a12 # pin@v3.2.3
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push tagged Docker image
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: .
          push: true
          tags: drand/go-drand:${{ github.ref_name }}
          build-args: |
            gitCommit: ${{ github.sha }}
