name: Regression

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ci-${{ github.ref }}-regression
  cancel-in-progress: true


env:
  DISABLE_VERSION_CHECK: 1
  # TODO Remove after https://github.com/drand/drand/pull/956 is merged, this is to get around the regression test failure
  MAJOR: 1
  MINOR: 4
  PATCH: 0

jobs:
  regression:
    runs-on: ubuntu-latest

    steps:
      # Deps
      - name: Install Go
        uses: actions/setup-go@v3.5.0
        with:
          go-version: '1.19.5'
      - name: Dir Setup
        run: mkdir -p ~/go/bin

      # Master branch
      - name: Checkout master branch
        uses: actions/checkout@v3.3.0
        with:
          ref: 'master'
      - name: Check cache for master
        uses: actions/cache@v3.2.3
        id: cache_master
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build Master
        run: make build . && cp drand ~/go/bin/drand-existing

      # Candidate branch
      - name: Checkout candidate branch
        uses: actions/checkout@v3.3.0
      - name: Check cache for candidate
        uses: actions/cache@v3.2.3
        id: cache_candidate
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build Candidate
        run: make build && cp drand ~/go/bin/drand-candidate

      # Regression test
      - name: Run regression with BoltDB backend
        id: regression-bolt
        run: go run ./demo/regression -release ~/go/bin/drand-existing -candidate ~/go/bin/drand-candidate

      # Report
      - id: report
        if: ${{ failure() }}
        name: Save report
        run: |
          OUTPUT=$(cat report.md)
          OUTPUT="${OUTPUT//'%'/'%25'}"
          OUTPUT="${OUTPUT//$'\n'/'%0A'}"
          OUTPUT="${OUTPUT//$'\r'/'%0D'}"
          echo "::set-output name=result::$OUTPUT"

      - name: Record Comment
        if: ${{ failure() }}
        uses: marocchino/sticky-pull-request-comment@v2.3.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: ${{ steps.report.outputs.result }}

  regression-memdb:
    runs-on: ubuntu-latest

    steps:
      # Deps
      - name: Install Go
        uses: actions/setup-go@v3.5.0
        with:
          go-version: '1.19.5'
      - name: Dir Setup
        run: mkdir -p ~/go/bin

      # Master branch
      - name: Checkout master branch
        uses: actions/checkout@v3.3.0
        with:
          ref: 'master'
      - name: Check cache for master
        uses: actions/cache@v3.2.3
        id: cache_master
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build Master
        run: make build . && cp drand ~/go/bin/drand-existing

      # Candidate branch
      - name: Checkout candidate branch
        uses: actions/checkout@v3.3.0
      - name: Check cache for candidate
        uses: actions/cache@v3.2.3
        id: cache_candidate
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build Candidate
        run: make build && cp drand ~/go/bin/drand-candidate

      # Regression test
      - name: Run regression with MemDB backend
        id: regression-memdb
        run: go run ./demo/regression -db=memdb -release ~/go/bin/drand-existing -candidate ~/go/bin/drand-candidate

      # Report
      - id: report
        if: ${{ failure() }}
        name: Save report
        run: |
          OUTPUT=$(cat report.md)
          OUTPUT="${OUTPUT//'%'/'%25'}"
          OUTPUT="${OUTPUT//$'\n'/'%0A'}"
          OUTPUT="${OUTPUT//$'\r'/'%0D'}"
          echo "::set-output name=result::$OUTPUT"

      - name: Record Comment
        if: ${{ failure() }}
        uses: marocchino/sticky-pull-request-comment@v2.3.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: ${{ steps.report.outputs.result }}

  regression-postgres:
    runs-on: ubuntu-latest

    steps:
      # Deps
      - name: Install Go
        uses: actions/setup-go@v3.5.0
        with:
          go-version: '1.19.5'
      - name: Dir Setup
        run: mkdir -p ~/go/bin

      # Master branch
      - name: Checkout master branch
        uses: actions/checkout@v3.3.0
        with:
          ref: 'master'
      - name: Check cache for master
        uses: actions/cache@v3.2.3
        id: cache_master
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build Master
        run: make build . && cp drand ~/go/bin/drand-existing

      # Candidate branch
      - name: Checkout candidate branch
        uses: actions/checkout@v3.3.0
      - name: Check cache for candidate
        uses: actions/cache@v3.2.3
        id: cache_candidate
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build Candidate
        run: make build && cp drand ~/go/bin/drand-candidate

      # Regression test
      - name: Run regression with PostgresDB backend
        id: regression-postgres
        run: go run ./demo/regression -db=postgres -release ~/go/bin/drand-existing -candidate ~/go/bin/drand-candidate

      # Report
      - id: report
        if: ${{ failure() }}
        name: Save report
        run: |
          OUTPUT=$(cat report.md)
          OUTPUT="${OUTPUT//'%'/'%25'}"
          OUTPUT="${OUTPUT//$'\n'/'%0A'}"
          OUTPUT="${OUTPUT//$'\r'/'%0D'}"
          echo "::set-output name=result::$OUTPUT"

      - name: Record Comment
        if: ${{ failure() }}
        uses: marocchino/sticky-pull-request-comment@v2.3.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: ${{ steps.report.outputs.result }}
