name: goreleaser

on:
  push:
    tags:
      - 'v*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # pin@v3.3.0
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # pin@v3.5.0
        with:
          go-version: '1.20.5'

      - name: Install Protoc
        uses: arduino/setup-protoc@ab6203da1c3118e4406048171b09238ad31ad73e # pin@latest-16.02.2023
        with:
          version: '3.19.6'

      - name: Install Protoc-gen-go
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.28.1
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.2.0
          go mod tidy

      - name: Get latest release version number
        id: get_version
        uses: battila7/get-version-action@d681662789c541f0777208c1f0e82f255f70b28d # pin@latest-16.01.2023

      - name: Parse semver string
        id: semver_parser
        uses: booxmedialtd/ws-action-parse-semver@7784200024d6b3fc01253e617ec0168daf603de3 # pin@v1.4.7
        with:
          input_string: ${{ steps.get_version.outputs.version }}
          version_extractor_regex: 'v(.*)$'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@920a7cbd0a5ce2fa16b0e4182e327d6a7761d677 # pin@v4.1.0
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAJOR: ${{ steps.semver_parser.outputs.major }}
          MINOR: ${{ steps.semver_parser.outputs.minor }}
          PATCH: ${{ steps.semver_parser.outputs.patch }}
