name: "Build/Tests"
on:
  push:
    branches:
      - master
      - main
      - 'release/**'
  pull_request:

concurrency:
  group: ci-${{ github.ref }}-tests
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Install Go
        uses: actions/setup-go@v3.5.0
        with:
          go-version: '1.19.5'
      - uses: actions/cache@v3.2.3
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build
        env:
          DRAND_TEST_LOGS: "${{ runner.debug == '1' && 'DEBUG' || 'INFO' }}"
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          make drand
          make drand-client
          make drand-relay-http
          make drand-relay-gossip
          make drand-relay-s3

  test:
    strategy:
      fail-fast: false
      continue-on-error: true
      matrix:
        db_type: [ "boltdb", "memdb", "postgres" ]
        scheme_id: [ "pedersen-bls-chained", "pedersen-bls-unchained", "bls-unchained-on-g1" ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - uses: actions/setup-go@v3.5.0
        with:
          go-version: '1.19.5'
      - uses: actions/cache@v3.2.3
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: go get -v -t -d -tags ${{ matrix.db_type }} ./...
      - name: Unit tests
        env:
          DRAND_TEST_LOGS: "${{ runner.debug == '1' && 'DEBUG' || 'INFO' }}"
          SCHEME_ID: ${{ matrix.scheme_id }}
        run: make test-unit-${{ matrix.db_type }}
      - name: Integration tests
        env:
          DRAND_TEST_LOGS: "${{ runner.debug == '1' && 'DEBUG' || 'INFO' }}"
          SCHEME_ID: ${{ matrix.scheme_id }}
        run: make test-integration-${{ matrix.db_type }}

  coverage:
    strategy:
      fail-fast: false
      continue-on-error: true
      matrix:
        db_type: [ "boltdb", "memdb", "postgres" ]
        scheme_id: [ "pedersen-bls-chained", "pedersen-bls-unchained", "bls-unchained-on-g1" ]
    runs-on: ubuntu-latest
    env:
      CI: "true"
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - uses: actions/setup-go@v3.5.0
        with:
          go-version: '1.19.5'
      - uses: actions/cache@v3.2.3
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: make coverage-${{ matrix.db_type }}
        env:
          DRAND_TEST_LOGS: "${{ runner.debug == '1' && 'DEBUG' || 'INFO' }}"
          SCHEME_ID: ${{ matrix.scheme_id }}
      - run: bash <(curl -s https://codecov.io/bash)
